@page
@model FaryvetLogisticSupport.Pages.Conductores.IndexConductoresModel
@{
    ViewData["Title"] = "IndexConductores";
}

<h1>Conductores</h1>

<div class="col-2">
    <a asp-page="CreateConductores" class="btn btn-primary form-control" data-toggle="tooltip" title="Agregar un nuevo conductor">
        Nuevo
    </a><p></p>
</div>

<form method="post">
    @if (Model.FARYVET_FLS_Conductores.Count() > 0)
    {
        <table id="tabla" class="table table-responsive table-striped display nowrap" cellspacing="0" width="100%" style="margin-bottom: 0">
            <thead>
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.FARYVET_FLS_Conductores.FirstOrDefault().NumeroIdentificacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.FARYVET_FLS_Conductores.FirstOrDefault().Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.FARYVET_FLS_Conductores.FirstOrDefault().PrimerApellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.FARYVET_FLS_Conductores.FirstOrDefault().SegundoApellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.FARYVET_FLS_Conductores.FirstOrDefault().FechaContratacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.FARYVET_FLS_Conductores.FirstOrDefault().Estado)
                    </th>                    
                    <th colspan="2">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.FARYVET_FLS_Conductores)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.NumeroIdentificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.PrimerApellido)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.SegundoApellido)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.FechaContratacion)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Estado)
                        </td>                        
                        <td>
                            <a asp-route-NumeroIdentificacion="@item.NumeroIdentificacion" asp-page="EditConductores" class="btn btn-success form-control" data-toggle="tooltip" title="Editar conductor">
                                Editar
                            </a>
                        </td>
                        <td>
                            <button asp-page-handler="Delete" asp-route-NumeroIdentificacion="@item.NumeroIdentificacion"
                                    class="btn btn-danger form-control" data-toggle="tooltip" title="Eliminar conductor">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No se encuentran datos disponibles</p>
    }
</form>

<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#tabla").datatable().fnDestroy();
            $("#tabla").dataTable({
                "scrollX": true,
                "scrollY": 200,
                "ajax": {
                    "url": "/Pages/VehiculosTransporte/IndexConductores/GetList",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "NumeroIdentificacion" },
                    { "data": "Nombre" },
                    { "data": "Modelo" },
                    { "data": "PrimerApellido" },
                    { "data": "SegundoApellido" },
                    { "data": "FechaContratacion" },
                    { "data": "Acciones" }
                ],

            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>

}