@page
@model FaryvetLogisticSupport.Pages.Conductores.IndexConductoresModel
@{
    ViewData["Title"] = "IndexConductores";
}

<h1>IndexConductores</h1>

@if (Model.FARYVET_FLS_Conductores.Count ( ) > 0)
{
    <br/>
    <table class="table table-striped border">
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_Conductores.FirstOrDefault().NumeroIdentificacion)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_Conductores.FirstOrDefault().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_Conductores.FirstOrDefault().PrimerApellido)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_Conductores.FirstOrDefault().SegundoApellido)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_Conductores.FirstOrDefault().FechaContratacion)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_Conductores.FirstOrDefault().Estado)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_Conductores.FirstOrDefault().IsEntrega)
            </th>
            <th>
                Acciones
            </th>
        </tr>
        @foreach (var item in Model.FARYVET_FLS_Conductores)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.NumeroIdentificacion)
            </td>
            <td>
                @Html.DisplayFor(m => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(m => item.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(m => item.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(m => item.FechaContratacion)
            </td>
            <td>
                @Html.DisplayFor(m => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(m => item.IsEntrega)
            </td>
            <td>
                <a asp-route-Id="@item.NumeroIdentificacion" asp-page="EditConductor" class="btn btn-success btn-sm">
                    Editar
                </a>
                <button class="btn btn-danger btn-sm">
                    Eliminar
                </button>
            </td>
        </tr>
        }
    </table>
}
else
{
    <p>Vacía</p>
}