@page
@model FaryvetLogisticSupport.Pages.VehiculosTransporte.IndexVehiculosTransporteModel
@{
    ViewData["Title"] = "IndexVehiculosTransporte";
}

<h1>Vehiculos de Transporte</h1>
<a asp-page="CreateVehiculosTransporte" class="btn btn-success form-control">
    Agregar vehiculo
</a>
@if (Model.FARYVET_FLS_VehiculoTransporte.Count() > 0)
{
    <br />
    <table class="table table-striped border">
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_VehiculoTransporte.FirstOrDefault().NumeroPlaca)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_VehiculoTransporte.FirstOrDefault().Marca)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_VehiculoTransporte.FirstOrDefault().Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_VehiculoTransporte.FirstOrDefault().AnnioFabricacion)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_VehiculoTransporte.FirstOrDefault().CapacidadCarga)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_VehiculoTransporte.FirstOrDefault().CapacidadCombustible)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_VehiculoTransporte.FirstOrDefault().FechaRiteve)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_VehiculoTransporte.FirstOrDefault().CostoMarchamo)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_VehiculoTransporte.FirstOrDefault().CVOSenasa)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_VehiculoTransporte.FirstOrDefault().Estado)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_VehiculoTransporte.FirstOrDefault().IsEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_VehiculoTransporte.FirstOrDefault().Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.FARYVET_FLS_VehiculoTransporte.FirstOrDefault().LicenciaRequerida)
            </th>
            <th>
                Acciones
            </th>
        </tr>
        @foreach (var item in Model.FARYVET_FLS_VehiculoTransporte)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.NumeroPlaca)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(m => item.AnnioFabricacion)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CapacidadCarga)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CapacidadCombustible)
                </td>
                <td>
                    @Html.DisplayFor(m => item.FechaRiteve)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CostoMarchamo)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CVOSenasa)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(m => item.IsEntrega)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(m => item.LicenciaRequerida)
                </td>
                <td>
                    <a asp-route-Id="@item.NumeroPlaca" asp-page="EditConductor" class="btn btn-success btn-sm">
                        Editar
                    </a>
                    <button class="btn btn-danger btn-sm">
                        Eliminar
                    </button>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No se encuentran datos disponibles</p>
}